.grid {
  outline: solid 1px black;
  margin-top: 100px;
  /* WARNING: DO NOT STYLE WIDTH, HEIGHT, OR ANYTHING BELOW */
  position: absolute;
}

.user {
  background-color: blueviolet;
  /* WARNING: DO NOT STYLE WIDTH, HEIGHT, OR ANYTHING BELOW */
  position: absolute;
}

.block {
  background-color: blue;
  /* WARNING: DO NOT STYLE WIDTH, HEIGHT, POSITION, OR ANYTHING BELOW */
  position: absolute;
}

.ball {
  background-color: red;
  /* WARNING: DO NOT STYLE WIDTH, HEIGHT, POSITION, BORDER RADIUS, OR ANYTHING BELOW */
  position: absolute;
}
